#app, #read, #webview-container {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#webview-container, .library {
	top: 33px;
  height: auto;
}
.close {
	position: absolute;
	right: 8px;
	top: 6px;
	z-index: 42;
	background-color: antiquewhite;
	font-size: 20px;
	height: 24px;
	width: 24px;
	color: red;
	padding: 0 0 0 6px;
	border: 1px solid red;
	cursor: pointer;
	box-sizing: border-box;
}
.definitions, .bookmark, .settings,
.definition-content, .bookmark-content
, .bookmarks-content, .urldisplay-content {
	position: absolute;
	top: 33px;
	padding: 2em;
	border: 1px solid lightgray;
	background-color: antiquewhite;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
}
button {
	background-color: #66aa66;
	outline: 0;
	border: 0;
	color: white;
	font-weight: 600;
	padding: 0.6em 1em;
	cursor: pointer;
}
select {
	background-color: white;
	padding: 7px;
	color: gray;
}


.library {
	display: flex;
	justify-content: center;
	padding-top: 33px;
}

.lib-wrapper {
	width: 400px;
}

.library button {
	margin-bottom: 1em;
	background-color: #66aa66;
	outline: 0;
	border: 0;
	color: white;
	font-weight: 600;
	padding: 0.6em 1em;
	cursor: pointer;
}

.book-form button {
	float: right;
	margin-top: 0.3em;
	background-color: steelblue;
}

.book-form {
	border: 1px solid lightgray;
	border-radius: 5px;
	box-sizing: content-box;
	padding: 0 0.5em 3em 0.5em;
	margin-top: 48px;
}

.settings .book-form select {
	width: 100%;
	padding: 12px 20px;
}

.settings button {
	float: right;
	width: 120px;
	background-color: steelblue;
}

.settings button:hover {
	background-color: dodgerblue;
}

.title {
	width: 352px;
}

.book button {
	padding: 0.2em 0.4em;
	background-color: white;
	color: darkred;
	border: 1px solid;
	border-radius: 3px
}

.book {
	cursor: pointer;
	color: #28f;
	padding: 0.15em 0;
	display: flex;
}

li {
	list-style: none;
}
.collection-title {
	cursor: pointer;
	color:darkolivegreen
}

.expanded {
	display: block;
}

.collapsed {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
}
webview, .wrapper {
	height: 100%;

}
.top-menu {
	display: flex;
	background-color: lightgray;
	position: fixed;
	width: 100%;
}
.top-menu > div {
	padding: 0.2em 1em;
	cursor: pointer;
}
.lib-title {
	position: absolute;
	right: 0;
	font-style: italic;
	color: gray;
}

.settings .label {
  width: 100px;
  display: inline-block;
}
.settings select {
  width: 200px;
}
.settings input {
  width: 200px;
  padding: 7px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.settings .item{
  margin-top: 1em;
}

.book-form input, .bookmark-content input.tags,
.settings select, .settings input {
	width: 100%;
	padding: 12px 20px;
	margin-bottom: 8px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.definition-content li, .definition-content li div {
  padding-top: 1em;
}
.definition-content li div:first-child {
  padding-top: 0;
}
.definition-content em {
  font-weight: 600;
}
.definition-content {
  max-height: 400px;
  overflow: auto;
}

.bookmark-content {
  max-height: 600px;
  overflow: auto;
}

.bookmark-content textarea {
  width: 100%;
  box-sizing: border-box;
}

.bookmark-content button {
  float: right;
  margin-top: 2em;
  background-color: #66aa66;
  outline: 0;
  border: 0;
  color: white;
  font-weight: 600;
  padding: 0.6em 1em;
  cursor: pointer;
}

.bookmarks-content {
  max-height: 400px;
  overflow: auto;
}
.bookmarks-content li {
  border: 1px solid lightgray;
  padding: 1em;
  margin-bottom: 1em;
}
.bookmarks-content .bm-content {
  cursor: pointer;
}
.bookmarks-content .no-bm{
  font-style: italic;
}

.lib-manage {
	margin-top: 40px;
}

.settings h3 {
	margin-bottom: .5em;
	border-bottom: 2px solid lightslategrey;
}

.tag-list {
	width: 100%;
	display: table;
	table-layout: fixed;
	padding: 2px;
	margin: 0px 0px -1px;
	min-height: 30px;
	min-width: 200px;
}

.tag-item div.box {
	float: left;
	margin-right: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	border-image: initial;
	padding: 5px;
}

.tag-item div.label, .tag-item div.remove {
	float: left;
	margin-right: 5px;
}

.tag-item div.label {
	margin-top: 2px;
	color: gray;
}

.tag-item div.remove {
	text-decoration: none;
	color: rgba(255,0,0,0.6);
	border: 1px solid rgba(255,0,0,0.6);
	background-color: transparent;
	padding: 0 5px;
	cursor: pointer;
}

.tags-select {
	position: relative;
	top: -33px;
	width: 100%;
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 3px 3px 2px lightgrey;
	padding: 10px 5px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.tags-select li:hover {
	background-color:lightsteelblue;
}

.tags-select li {
	padding: 5px;
}

.no-click {
	pointer-events: none;
	color: #aaa
}

#lib .tags-container {
	position: absolute;
	top: 66px
}

.search-icon {
	position: relative;
	left: -20px;
	display: inline;
	top: 2px;
}

#search-input {
	width: 220px;
}
